<html>
    <title>Estadísticas</title>
    <link rel="stylesheet" href="/desarrollo_web_camilo_alvarez/diseño.css">
    <h1>Estadísticas sobre las actividades</h1>
    <div style="display: block; justify-content: center; align-items: center;">
        <img style="margin-left: 8%;" src="grafico_lineas.png">
        <img style="margin-left: 10%;" src="grafico_de_torta.png">
        <img style="margin-left: 9%;"src="grafico de barras.png">
    </div>
    <div style="display: flex; justify-content: center; margin-top: 10%;">
        <a href="{{url_for('home')}}">
        <button class ="boton_portada">Volver a la portada</button>
        </a>
    </div>
</html>