<html>
    <title>Formulario agregar actividad</title>
        <form id="form" name="form" method="post" action="{{url_for('add_activity')}}">
            <h1 style="display: flex; justify-content: center;">¿Dónde?</h1>
            <div style="display: flex; justify-content: center;">
                <ul style = "list-style: none;">
                    <li id="li_region">
                        <label for="region">Región:</label>
                        <select id="region" name="region">
                            <option value="">No seleccionada</option>
                            <option value ="arica_parinacota">I Región de Arica y Parinacota</option>
                            <option value ="tarapaca">II Región de Tarapacá</option>
                            <option value ="antofagasta">III Región de Antofagasta</option>
                            <option value ="atacama">IV Región de Atacama</option>
                            <option value ="coquimbo">V Región de Coquimbo</option>
                            <option value ="valparaiso">VI Región de Valparaíso</option>
                            <option value ="metropolitana">VII Región Metropolitana</option>
                            <option value ="ohiggins">VIII Región de O'Higgins</option>
                            <option value ="maule">IX Región del Maule</option>
                            <option value ="ñuble">X Región del Ñuble</option>
                            <option value ="biobio">XI Región del Biobío</option>
                            <option value ="araucania">XII Región de La Araucanía</option>
                            <option value ="rios">XIII Región de Los Ríos</option>
                            <option value ="lagos">XIV Región de Los Lagos</option>
                            <option value ="aysen">XV Región de Aysén</option>
                            <option value ="magallanes">XVI Región de Magallanes</option>
                        </select>
                    </li>
                    <li id="li_comuna">
                        <label for="comuna">Comuna:</label>
                        <select id="comuna" name="comuna">
                            <option value="">No seleccionada</option>
                        </select>
                    </li>
                    <li>
                        <label for="sector">Sector:</label>
                        <input id="sector" name="sector" maxlength="100">
                        <small id="contador">100 caracteres restantes</small>
                    </li>
                </ul>
            </div>
            <h1 style="display: flex; justify-content: center;">¿Quién organiza?</h1>
            <div style="display: flex; justify-content: center;">
                <ul id="ul_organizacion" style = "list-style: none;">
                    <li id="li_nombre">
                        <label for="nombre">Nombre:</label>
                        <input id="nombre" name="nombre" maxlength="200">
                        <small id="contador_nombre">200 caracteres restantes</small>
                    </li>
                    <li id="li_email">
                        <label for="email">E-mail:</label>
                        <input id="email" name="email" type="email" maxlength="100">
                    </li>
                    <li id="li_celu">
                        <label for="telefono">Telefono:</label>
                        <input id="tel" name="celular" type="tel" maxlength="12" placeholder="+NNN NNNNNNNN">
                    </li>
                        <label for="rss">Contactar por medio de:</label>
                        <select id="rss" name="rss">
                            <option value="">Sin seleccionar</option>
                            <option value="wsp">Whatsapp</option>
                            <option value="telegram">Telegram</option>
                            <option value="x">X</option>
                            <option value="instagram">Instagram</option>
                            <option value="otra">Otra</option>
                        </select>
                </ul>
            </div>
            <h1 style="display: flex; justify-content: center;">¿Cuándo y de que trata?</h1>
            <div style="display: flex; justify-content: center;">
                <ul id="ul_tema" style = "list-style: none; padding-left: 0;">
                    <li>
                        <label for="inicio">Día/Hora/Inicio:</label>
                        <input id="inicio" name = "dia_hora_inicio" type="datetime-local">
                    </li>
                    <li>
                        <label for="final">Día/Hora/Término:</label>
                        <input id="final" name = "dia_hora_termino" type="datetime-local">
                    </li>
                    <li>
                        <label for="desc">Descripción:</label>
                        <textarea id="desc" name="descripcion" placeholder="Ingresa tu descripción del evento" cols="50" rows="10"></textarea>
                    </li>
                    <li>
                        <label for="tema">Tema del evento:</label>
                        <select id="tema" name="tema">
                            <option value="">Sin seleccionar</option>
                            <option value="musica">Música</option>
                            <option value="deporte">Deporte</option>
                            <option value="ciencias">Ciencias</option>
                            <option value="religion">Religión</option>
                            <option value="política">Política</option>
                            <option value="tecnologia">Tecnología</option>
                            <option value="juegos">Juegos</option>
                            <option value="baile">Baile</option>
                            <option value="comida">Comida</option>
                            <option value="otro">Otro</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <ul id="ul_foto" style="list-style: none; padding-left: 0;">
                    <li style="display: inline; margin-right: 1rem;">
                        <label for="foto">Ingresar fotos:</label>
                        <input id="foto" name="foto" type="file">
                    </li>
                    <li style="display: inline ;margin-right: 1rem;">
                        <button id="boton_foto" name="boton_foto" type="button">Agregar otra foto</button>
                    </li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center;">
                <ul style="list-style: none; padding-left: 0;">
                    <li>
                        <button id="boton_submit" type="button">Agregar esta actividad</button>
                    </li>
                </ul>
            </div>
        </form>
        <div id="modal" style="display: none; position: fixed; top:1%; left:30%; background:white; padding:20px; border:1px solid black;">
            <p>¿Está seguro de que quiere agregar esta actividad?</p>
            <a href="{{url_for('saved_msg')}}">
                <button class="boton_portada">Sí, estoy seguro</button>
            </a>
            <button id="boton_no">No, no estoy seguro, quiero volver al formulario</button>
        </div>
    <script src="{{url_for('static', filename='js/validador.js')}}"></script>
</html>