<html>
    <h1 id="h1" style="justify-content: center; display: flex;">Listado de actividades</h1>
    <title>Listado de actividades</title>
    <link rel="stylesheet", href="/desarrollo_web_camilo_alvarez/diseño.css">
    <div id="div">
        <table border="1"; class="tabla_portada">
            <tr>
                <th style="padding: 6px;">Inicio</th>
                <th style="padding: 6px;">Término</th>
                <th style="padding: 6px;">Comuna</th>
                <th style="padding: 6px;">Sector</th>
                <th style="padding: 6px;">Tema</th>
                <th style="padding: 6px">Nombre del organizador</th>
                <th style="padding: 6px;">Total de fotos</th>
            </tr>
            {% for actividad,comuna,fotos,temas,contactos in datos %}
            <tr id="tr"{{actividad.id}} style="cursor: pointer;">
                <td style="padding: 6px;">2025-03-31 
                    <br>{{actividad.dia_hora_inicio}}
                </td>
                <td style="padding: 6px">2025-03.31
                    <br>{{actividad.dia_hora_termino}}
                </td>
                <td style="padding: 6px;">{{comuna}}</td>
                <td style="padding: 6px;">{{actividad.sector}}</td>
                <td style="padding: 6px;">
                {% for tema in temas %}
                    {% if tema.glosa_otro == "no_aplica" %}                    
                        {{tema.tema.value}}
                    {% else %}
                        {{tema.glosa_otro}}
                    {% endif %}
                {% endfor %}
                </td>
                <td style="padding: 6px;">{{actividad.nombre}}</td>
                <td style="padding: 6px;">{{ fotos | length }}</td>
            {% endfor %}
                <td>
                    <img id="futbol1" style="display: none; width: 320; height:240;" src="{{ruta_archivos}}">
                </td>
            </tr>
        </table>
    </div>
    <div id="modal_listado" style="display: none; position: absolute; margin-left: 25%; top:1%; background:white; padding:20px; border:1px solid black;">
        <h1 style="font-size: 30px; margin-top: 0%;">Detalles de la actividad</h1>
        <p id="inicio"></p>
        <p id="termino"></p>
        <p id="comuna"></p>
        <p id="sector"></p>
        <p id="tema"></p>
        <p id="nombre"></p>
        <div  style="display: flex;" id ="div_imagenes">
        </div>
        <div class="contenedor_boton">
            <a href="/desarrollo_web_camilo_alvarez/portada/portada.html">
                <button class="boton_portada" style="cursor: pointer;">Quiero volver a la portada</button>
            </a>
            <a href="listado_actividades.html">
                <button class="boton_portada" style="cursor: pointer;">Quiero volver a la lista de actividades</button>
            </a>
        </div>
    </div>
    <div id="modal_foto1" style="display: none; position: relative; top:1%; background:white; padding:20px;">
        <div id="imagenes1" style="display: flex; justify-content: center; align-items: center;">
            <img src="futbol_800x600.png">
        </div>
        <div class="contenedor_boton">
            <button id="boton_foto1" class="boton_portada" type="button">Cerrar</button>
        </div>
    </div>
    <div id="modal_foto2" style="display: none; position: relative; top:1%; background:white; padding:20px;">
        <div id="imagenes2" style="display: flex; justify-content: center; align-items: center;">
            <img src="futbol2_800x600.png">
        </div>
        <div class="contenedor_boton">
            <button id="boton_foto2" class="boton_portada" type="button">Cerrar</button>
        </div>
    </div>
<script src="{{url_for('static', filename='js/modales.js')}}"></script>
</html>