<html>
    <head>
        <title>Gestionador de actividades</title>
        <link rel="stylesheet", href="/desarrollo_web_camilo_alvarez/diseño.css">
    </head>
    <body>
        <h1>¡Bienvenido al gestionador de actividades de la región Metropolitana!</h1>
        <div class="contenedor_boton">
            <a href="/add_activity">
                <button class="boton_portada">Agregar actividades</button>
            </a>
            <a href="/desarrollo_web_camilo_alvarez/listado_actividades/listado_actividades.html">
                <button class="boton_portada">Ver listado de actividades</button>
            </a>
            <a href="/desarrollo_web_camilo_alvarez/estadisticas/estadistica.html">
                <button class="boton_portada">Estadísticas</button>
            </a>
        </div>
        <h2>Últimas actividades agregadas</h2>
        <div>
            <table border="1"; class="tabla_portada">
                <tr>
                    <th style="padding: 6px;">Inicio</th>
                    <th style="padding: 6px;">Término</th>
                    <th style="padding: 6px;">Comuna</th>
                    <th style="padding: 6px;">Sector</th>
                    <th style="padding: 6px;">Tema</th>
                    <th style="padding: 6px">Foto</th>
                </tr>
                <tr>
                    <td style="padding: 6px;">2025-03-31 
                        <br>12:00
                    </td>
                    <td style="padding: 6px">2025-03.31
                        <br>14:00
                    </td>
                    <td style="padding: 6px;">Santiago</td>
                    <td style="padding: 6px;">Parque O'higgins</td>
                    <td style="padding: 6px;">Taller de fútbol infantil</td>
                    <td style="padding: 6px">
                        <img class="img_responsive" src="futbol.jpg">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 6px;">2025-04-01
                    <br>15:00
                    </td>
                    <td style="padding: 6px">2025-04-01
                        <br>19:00
                    </td>
                    <td style="padding: 6px;">Quilicura</td>
                    <td style="padding: 6px;">Plaza de Quilicura</td>
                    <td style="padding: 6px;">Taller de jardinería</td>
                    <td style="padding: 6px">
                        <img src="flores.jpg">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 6px;">2025-04-03
                        <br>11:00
                    </td>
                    <td style="padding: 6px">2025-04-03
                        <br>15:00
                    </td>
                    <td style="padding: 6px;">San Miguel</td>
                    <td style="padding: 6px;">Gran Av. José Miguel Carrera 110</td>
                    <td style="padding: 6px;">Maratón 30km abierta a todas las edades</td>
                    <td style="padding: 6px">
                        <img src="maraton.jpg">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 6px;">2025-04-05
                        <br>19:00
                    </td>
                    <td style="padding: 6px">2025-04-05
                        <br>22:00
                    </td>
                    <td style="padding: 6px;">Providencia</td>
                    <td style="padding: 6px;">Teatro municipal providencia</td>
                    <td style="padding: 6px;">Concierto gratuito de música clásica</td>
                    <td style="padding: 6px">
                        <img src="concierto.jpg">
                    </td>
                </tr>
                <tr>
                    <td style="padding: 6px;">2025-04-08
                        <br>18:00
                    </td>
                    <td style="padding: 6px">2025-04-08
                        <br>19:30
                    </td>
                    <td style="padding: 6px;">Santiago</td>
                    <td style="padding: 6px;">Cine arte Normandie</td>
                    <td style="padding: 6px;">Función "Campamento sangriento"</td>
                    <td style="padding: 6px">
                        <img src="cine.jpg">
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>