<html>
    <head>
        <title>Gestionador de actividades</title>
        <link rel="stylesheet", href="/desarrollo_web_camilo_alvarez/diseño.css">
    </head>
    <body>
        <h1>¡Bienvenido al gestionador de actividades de la región Metropolitana!</h1>
        <div class="contenedor_boton">
            <a href="{{url_for('add_activity')}}">
                <button class="boton_portada">Agregar actividades</button>
            </a>
            <a href="{{url_for('activity_list')}}">
                <button class="boton_portada">Ver listado de actividades</button>
            </a>
            <a href="{{url_for('statistics')}}">
                <button class="boton_portada">Estadísticas</button>
            </a>
        </div>
        <h2>Últimas actividades agregadas</h2>
        <div>
            <table border="1"; class="tabla_portada">
                <tr>
                    <th style="padding: 6px;">Inicio</th>
                    <th style="padding: 6px;">Término</th>
                    <th style="padding: 6px;">Comuna</th>
                    <th style="padding: 6px;">Sector</th>
                    <th style="padding: 6px;">Tema</th>
                    <th style="padding: 6px">Foto</th>
                </tr>
                {% for actividad,nombre_comuna,archivo,tema in datos %}
                <tr>
                    <td style="padding: 6px;">{{actividad.dia_hora_inicio}}</td>
                    <td style="padding: 6px">{{actividad.dia_hora_termino}}</td>
                    <td style="padding: 6px;">{{nombre_comuna}}</td>
                    <td style="padding: 6px;">{{actividad.sector}}</td>
                    <td style="padding: 6px;">
                        {% if tema.glosa_otro != "" %}
                        {{tema.tema}}
                        {% else %}
                        {{tema.glosa_otro}}
                        {% endif %}
                    </td>
                    <td style="padding: 6px">
                        <img src="{{ archivo.ruta_archivo }}">
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>